---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import "@fontsource-variable/lexend-giga";
import "@fortawesome/fontawesome-free/css/all.min.css";
import "@/tailwind.css";

interface Props {
  title?: string;
}

const { title = "Amazing Credit Cards" } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="shortcut icon" href="/fav.png" type="image/x-icon" />
  </head>
  <body class="min-h-screen flex flex-col overflow-x-hidden font-lexend">
    <Header />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
    <div id="graph-bg" class="inset-0 fixed -z-20"></div>
  </body>
</html>
