---
import { Code2 } from "lucide-astro";
const links = [
  {
    label: "Home",
    link: "/",
  },
  {
    label: "Categories",
    link: "/categories",
  },
  {
    label: "Issuers",
    link: "/issuers",
  },
  {
    label: "Blog",
    link: "/",
  },
  {
    label: "About",
    link: "/",
  },
];

const year = new Date().getFullYear()
---

<footer class="bg-yellow-500 border-y-6 border-black relative">
  <div class="container mx-auto px-5 py-10 grid lg:grid-cols-12">
    <div class="lg:col-span-8 flex flex-col justify-center">
      <div class="flex items-center gap-4 flex-wrap  max-lg:pr-[90px]">
        {
          links.map((link) => (
            <a
              href={link.link}
              class="border-brutal-sm bg-white hover:bg-white/80 transition-colors duration-300 px-4 py-1 text-xs"
            >
              {link.label}
            </a>
          ))
        }
      </div>
      <div class="flex items-center gap-4 mt-4 flex-wrap">
        <a
          href="//gavinpereira.in/?ref=amazingcreditcards.in"
          target="_blank"
          class="border-brutal-sm bg-white hover:bg-white/80 transition-colors duration-300 px-4 py-1 text-xs"
        >
          <Code2 class="size-4 inline" /> by Gavin Pereira
        </a>
        
      </div>
      <p class="border-brutal-sm bg-white px-4 py-1 text-xs w-fit block mt-4">
        <strong>amazingcreditcards.in</strong> is not affiliated to any credit card issuer or bank. <br> All trademarks are properties of their respective owners. &copy;{year} - All rights reserved.
      </p>
    </div>
    <div class="lg:col-span-4 flex justify-end">
      <img
        class="h-[90px] lg:h-[120px] max-lg:absolute top-4 right-4"
        src="/logo-circle.png"
        alt="Amazing Credit Cards"
      />
    </div>
  </div>
</footer>
