---
const links = [
  {
    label: "Home",
    link: "/",
  },
  {
    label: "Categories",
    link: "/categories",
  },
  {
    label: "Issuers",
    link: "/issuers",
  },
  {
    label: "Blog",
    link: "/blog",
  },
  {
    label: "About",
    link: "/about-us",
  },
  { label: "Privacy Policy", link: "/privacy-policy" },
];

const year = new Date().getFullYear();
---

<footer class="bg-yellow-500 border-y-6 border-black relative">
  <div class="container mx-auto px-5 py-10 grid lg:grid-cols-12">
    <div class="lg:col-span-8 flex flex-col justify-center">
      <div class="flex items-center gap-4 flex-wrap max-lg:pr-[90px]">
        {
          links.map((link) => (
            <a
              href={link.link}
              class="border-brutal-sm bg-white hover:bg-white/80 transition-colors duration-300 px-4 py-1 text-xs"
            >
              {link.label}
            </a>
          ))
        }
      </div>
      <p class="border-brutal-sm bg-white px-4 py-1 text-xs w-fit block mt-4">
        <strong>amazingcreditcards.in</strong> is not affiliated to any credit card
        issuer or bank. <br /> All trademarks are properties of their respective
        owners. &copy;{year} - All rights reserved.
      </p>
      <a href="https://www.buymeacoffee.com/amazingcreditcards" target="_blank"
        ><img
          src="https://cdn.buymeacoffee.com/buttons/v2/default-white.png"
          alt="Buy Me A Coffee"
          class="!h-[40px] !mt-4 !border-brutal"
        /></a
      >
    </div>
    <div class="lg:col-span-4 flex justify-end">
      <img
        class="h-[90px] lg:h-[120px] max-lg:absolute top-4 right-4"
        src="/logo-circle.png"
        alt="Amazing Credit Cards"
      />
    </div>
  </div>
</footer>
