@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl lg:text-6xl font-black;
  }
  h2 {
    @apply text-2xl lg:text-4xl font-bold;
  }
  h3 {
    @apply text-xl lg:text-3xl font-bold;
  }
  h4 {
    @apply text-xl font-bold;
  }
  h4 {
    @apply text-lg font-bold;
  }
  em {
    @apply italic;
  }
  strong {
    @apply font-bold;
  }

  .border-brutal-sm {
    @apply rounded-lg border-2 border-black lg:shadow-b-2 shadow-b-1;
  }
  .border-brutal {
    @apply rounded-lg border-2 border-black lg:shadow-b-2 shadow-b-1;
  }
  .border-brutal-lg {
    @apply rounded-lg border-2 border-black lg:shadow-b-2 shadow-b-1;
  }

  /* For debugging */
  /* * {
      @apply outline outline-[1px] outline-red-600;
    } */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  #graph-bg {
    background-color: #ffffff;
    opacity: 0.3;
    background-image: linear-gradient(#dedede 1px, transparent 1px),
      linear-gradient(to right, #dedede 1px, #ffffff 1px);
    background-size: 20px 20px;
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: content-box;
  transition: color 300ms;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #8b8b8b;
}
::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 6px;
}
